<ion-view title="Tarefa">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-body">
                <h2>{{task.name}}</h2>
                <p>{{task.description}}</p>
            </div>
            <div class="item item-body">
                <p>{{task.priority}}</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item">
                    <i class="icon ion-edit"></i>
                </a>
                <a class="tab-item">
                    <i class="icon ion-trash-b"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>